<div class="row-2">
  <section>
    <mat-card class="vente">
      <mat-card-header>
        <mat-card-title>Vente</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="myForm" class="form">
          <mat-form-field>
            <input matInput formControlName="numero" placeholder="numero" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput #tva (input)="tvaChange(tva.value)" formControlName="tva" placeholder="tva" type="number">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card class="title">
      <mat-card-header>
        <mat-card-title>Panier</mat-card-title>
      </mat-card-header>
      <div class="montant">
        <div>
          <p>Montant HT</p>
          <p>{{montantHT}} dh</p>
        </div>
        <div>
          <p>Montant TTC</p>
          <p>{{montantTTC}} dh</p>
        </div>
      </div>
      <button class="submit" mat-raised-button color="primary" (click)="submit(myForm.value, myFormArray.value.items)">
        Valider
      </button>
    </mat-card>
    <mat-card class="detail">
      <form [formGroup]="myFormArray">
        <div class="flex" formArrayName="items">
          <div *ngFor="let o of array.controls; let index=index" [formGroupName]="index" [@EnterLeave]="'flyIn'">
            <mat-card class="mycard">
              <div class="grid">
                <h3>{{ o.value.designation}}</h3>
                <p>prix unitaire : <span>{{ o.value.prix}} DH</span></p>
                <!-- <p>stock initial : <span class="stock"
                    [style.background]="o.value.stockIntial > 0 ? (o.value.stockIntial > 5 ? 'green' : 'orange') : 'red'">
                    {{ o.value.stockIntial}} piece</span></p> -->
                <p>stock final: <span class="stock"
                    [style.background]="o.value.stockFinal > 0 ? (o.value.stockFinal > 5 ? 'green' : 'orange') : 'red'">
                    {{ o.value.stockFinal}} piece
                  </span></p>
                <div>
                  <mat-form-field>
                    <input matInput #qte (input)="qteChange(qte.value, o.value, index)" formControlName="qte"
                      placeholder="qte" type="number" min="0" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput formControlName="montant" [value]="qte.value * o.value.prix" placeholder="montant"
                      readonly>
                  </mat-form-field>
                </div>
                <button mat-icon-button (click)="deleteFromArray(index, o.value)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
      {{array.controls.values | json}}
    </mat-card>

  </section>

  <section>
    <app-article isInVente="true" (addToPannier)="addToArray($event, null)"></app-article>
  </section>
</div>
